{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Not just another To-Do app!</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Current List</h2>
      <ul class="list-group mb-4">
        {%for item in items_list%}
          <li>{{ item.title }} - {{ item.status }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/addtodo" method="POST">
    <label for="todo_additem">New To-Do Item:</label><br>
    <input type="text" id="todo_itemname" name="todo_itemname" value="Name"><br>
    <label for="todo_status">Status:</label><br>
    <select class="form-select" aria-label="Status" name="todo_status">
      <option selected value="Not Started">Not Started</option>
      <option value="In Progress">In Progress</option>
      <option value="On Hold">On Hold</option>
      <option value="Completed">Completed</option>
    </select><br>
    <label for="todo_priority">Priority:</label><br>
    <select class="form-select" aria-label="Priority" name="todo_priority">
      <option selected value="Normal">Normal</option>
      <option value="High">High</option>
      <option value="Low">Low</option>
    </select><br>
    <label for="todo_desc">Description:</label><br>
    <input type="text" id="todo_desc" name="todo_desc" value=><br><br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}